html,
body {
  height: 100%;
}

body {
  color: $text-color-primary;
  font-size: 18px;
  font-family: Inter, sans-serif;
  font-weight: 500;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  overflow: hidden;
  background-image:
    url("../images/can.svg"),
    url("../images/leaf-1.svg"),
    url("../images/vector-1.svg"),
    url("../images/vector-2.svg"),
    url("../images/leaf-2.svg"),
    url("../images/vector-3.svg"),
    url("../images/leaf-3.svg"),
    url("../images/leaf-4.svg");
  background-repeat:
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat;
  background-size:
    22%,
    22%,
    22%,
    22%,
    22%,
    22%,
    22%,
    22%;
  background-position:
    0 15%,
    100% 16%,
    0 25%,
    100% 46%,
    100% 60%,
    0 76%,
    0 91%,
    100% 96%;
}

.main {
  flex-grow: 1;
}

.container {
  --container-paddings: 20px;
  --container-max-width: 1200px;

  @include tablets {
    --container-paddings: 40px;
    --container-max-width: 688px;
  }

  @include phones {
    --container-paddings: 10px;
    --container-max-width: 340px;
  }

  max-width: calc(var(--container-max-width) + 2 * var(--container-paddings));
  padding-inline: var(--container-paddings);
  margin: 0 auto;
  width: 100%;
}

.section {
  margin-bottom: 150px;

  @include laptop {
    margin-bottom: 100px;
  }

  @include tablets {
    margin-bottom: 90px;
  }

  @include tablets {
    margin-bottom: 60px;
  }
}

.accent-color {
  color: $text-color-accent;
}

.img-border {
  filter: drop-shadow(1px 0 0 $bg-color-accent) drop-shadow(-1px 0 0 $bg-color-accent) drop-shadow(0 1px 0 $bg-color-accent) drop-shadow(0 -1px 0 $bg-color-accent) drop-shadow(1px 1px 0 $bg-color-accent) drop-shadow(-1px -1px 0 $bg-color-accent) drop-shadow(-1px 1px 0 $bg-color-accent) drop-shadow(1px -1px 0 $bg-color-accent);
}