.why__img {
  align-self: center;
}

.why__text {
  max-width: 580px;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 40px;

  @include tablets {
    font-size: 24px;
    font-weight: 500;
  }

  @include phones {
    font-size: 14px;
  }
}

.why__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 20px;
}

.why__list {
  counter-reset: my-counter;
  align-self: center;
}

.why__item {
  font-size: 28px;
  margin-bottom: 55px;

  &::before {
    content: counter(my-counter) ' ';
    counter-increment: my-counter;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &:nth-of-type(2),
  &:nth-of-type(5) {
    padding-left: 50px;

    @include tablets {
      padding-left: 40px;
    }

    @include phones {
      padding-left: 15px;
    }
  }

  &:nth-of-type(3),
  &:nth-of-type(4) {
    padding-left: 80px;

    @include tablets {
      padding-left: 70px;
    }

    @include phones {
      padding-left: 20px;
    }
  }

  @include laptop {
    font-size: 24px;
  }

  @include tablets {
    font-size: 18px;
    margin-bottom: 40px;
  }

  @include phones {
    font-size: 14px;
    margin-bottom: 10px;
  }
}