svg.about__img.img-border(viewbox="0 0 590 455")
  mask#about-img
    path(fill="#ffffff" d="M587.5 293.845C587.5 334.333 577.704 364.641 560.52 387.344C543.334 410.051 518.721 425.201 489 435.306C429.607 455.5 349.97 455.5 268.866 455.5H268.543H268.165C227.715 455.5 190.784 455.5 158.121 452.986C125.356 450.464 96.9258 445.415 73.5807 435.321C50.2487 425.232 31.995 410.104 19.5649 387.406C7.12843 364.695 0.5 334.367 0.5 293.845C0.5 131.835 131.904 0.5 294 0.5C456.096 0.5 587.5 131.835 587.5 293.845Z")
  image(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./images/about.avif" mask="url(#about-img)" width="712" height="475" x="-120")