section#about.about.section
  .container.about__container
    h2.about__heading.heading Про нас
    .about__content
      include about-img.pug
      .about__description
        p.about__text
          span Зелена Палітра
          |  прагне досягти гармонії між природою та архітектурою, створюючи  неповторні ландшафти, які враховують естетику, функціональність та стійкість до зношування.
        p.about__text
          span Зелена Палітра
          |  завдяки своєму професійному підходу та інноваційним рішенням,стала популярним вибором для тих, хто цінує красу і комфорт у своєму оточенні.
      .about__achievements
        h3.about__subtitle Наші досягнення
        dl.about__list
          .about__item
            dt.about__item-term 20
            dd.about__item-desc років досвіду
          .about__item
            dt.about__item-term  250
            dd.about__item-desc реалізованих проектів
          .about__item
            dt.about__item-term  25 000
            dd.about__item-desc посаджених дерев
