svg.contacts__img.img-border(viewbox="0 0 590 455")
  mask#contacts-img
    path(fill="#ffffff" d="M588 293.845C588 456.131 430.915 456 268.543 456C106.172 456 0 456.131 0 293.845C0 131.559 131.628 0 294 0C456.372 0 588 131.559 588 293.845Z")
  image(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./images/contacts.avif" mask="url(#contacts-img)" width="712" height="475" x="-50")