section.intro.section
  .container.intro__container
    .intro__title
      p.intro__title-text Ми працюємо на всій території України
      h1.intro__title-heading Реалізуйте Ваші зелені мрії з нами
    p.intro__text Почніть ваше ландшафтне втілення з нами та отримайте перший рік обслуговування абсолютно
      span.accent-color  безкоштовно!
    a.btn.intro__btn(href="#") Замовити проект
    include intro-img.pug
    p.intro__info Садова магія кожного сезону