svg.intro__img.img-border(viewbox="0 0 590 560")
  mask#intro-img
    path(fill="#ffffff" d="M588.5 280C588.5 357.117 544.775 426.98 473.987 477.583C403.199 528.186 305.382 559.5 197.313 559.5C143.285 559.5 104.035 550.235 75.5406 533.966C47.0575 517.704 29.2792 494.421 18.2273 466.3C7.17002 438.165 2.84588 405.186 1.29123 369.549C0.214813 344.875 0.466464 318.956 0.723265 292.507C0.837412 280.751 0.952577 268.89 0.952577 256.986C0.952577 244.837 0.832616 233.015 0.716207 221.544C0.461965 196.49 0.224669 173.105 1.29109 151.618C2.84551 120.299 7.16864 93.0902 18.2103 70.7246C40.2531 26.0755 89.2026 0.5 197.313 0.5C305.382 0.5 403.199 31.8141 473.987 82.4169C544.775 133.02 588.5 202.883 588.5 280Z")
  image(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./images/intro.avif" mask="url(#intro-img)" width="590" height="787")
