mixin hamburger(classList)
  .hamburger(class=classList)
    button.hamburger__btn(type="button")
      svg.hamburger__img
        title Hamburger Icon
        use(href="./images/sprite.svg#hamburger")