extends common/layout.pug

block content
  main.main
    include includes/index/intro.pug
    include includes/index/about.pug
    include includes/index/why.pug
    include includes/index/projects.pug
    include includes/index/services.pug
    include includes/index/prices.pug
    include includes/index/work.pug
    include includes/index/team.pug
    include includes/index/faq.pug
    include includes/index/details.pug
    include includes/index/reviews.pug
    include includes/index/contacts.pug